[Unit]
Description=Load and pin the MPTCP bpf_weight_rr BPF scheduler
Documentation=man:bpftool-struct_ops(8)
DefaultDependencies=no
After=local-fs.target sys-fs-bpf.mount
Before=network-pre.target
Wants=network-pre.target
ConditionPathExists=/usr/share/bpf/scheduler/mptcp_bpf_weight_rr.o

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/mptcp-bpf-weight-rr/load-scheduler-weight-rr.sh start
ExecStop=/usr/lib/mptcp-bpf-weight-rr/load-scheduler-weight-rr.sh stop

[Install]
WantedBy=multi-user.target
