config config 'config'
    option EnableDataElements '0'
    option EnableIeee1905 '0'

config DataElements 'DataElements'
    option DEReportingInteval '600'
    option DEJsonFilePath 'www/dataElement'
    option DERadioJsonEnable '1'
    option DERadioCapsJsonEnable '1'
    option DERadioBssListJsonEnable '1'
    option DERadioBkStaJsonEnable '1'
    option DERadioScanResultJsonEnable '1'
    option DERadioUnAssocStaJsonEnable '1'
    option DERadioCurOpClassJsonEnable '1'
    option DEBssSTAListJsonEnable '1'
    option DEStaAssocEventJsonEnable '1'
    option DEStaDisAssocEventJsonEnable '1'
    option DEEnableBase64Encoding '0'
    option DEEnableCertCompliance '0'
    option NBEventEnable '0'
