config config 'config'
	option Enable 				'0'
	option PLCHFIDList 			''
	option PLCOUIList			''
	option PLCQueryExpireTime		'5'
	option PLCUPDTFWExpireTime		'60'
	option PLCUPDTPIBExpireTime		'5'
	option AllowPLCFwUpdate			'0'
	option DisableHyFiIfNoManufacturerMatch	'1'
	option LanVlanID			'1'
	option PLCVlanID			'100'
	option MaxConsecutiveLinkDownReads	'8'
	option LanInterfaceName			'eth1'				#NOTE, specified by user
	option SwitchManagementInterfaceName	'switch0'			#NOTE, specified by user
	option LanVlanTagged			'' 				#Auto detect, don't change it
	option StartHyFiScriptPath		'/usr/share/vhyfi/start_hyfi'
	option StopHyFiScriptPath		'/usr/share/vhyfi/stop_hyfi'
	option ReadSwitchScriptPath		'/usr/share/vhyfi/vhyfi.sh'
	option PLCFirmwarePath			'/lib/firmware/plc/'
