<script type="text/javascript">//<![CDATA[
var HideAdvance = 0;
function showHyfiOptions( )
{
	var objVhyfi = document.getElementById("cbid.vhyfid.config.Enable");
	var objHyfi = document.getElementById("cbid.hyd.config.Enable");
	var vhyfiChecked;
	var autoOptIndex  = -1;
	var disableOptIndex  = -1;
	var defaultOptChanged = 0;

	if (objVhyfi && objVhyfi.checked == true)
		vhyfiChecked = 1;
	else
		vhyfiChecked = 0;

	if (!objHyfi)
		return;

	for (var i = 0; i < objHyfi.length; i ++)
	{
		var optValue = objHyfi.options[i].value;
		if (optValue == "Auto")
		{
			autoOptIndex = i;
		}
		if ( optValue == "Disable")
		{
			disableOptIndex = i;
		}

	}


	// update select options
	if (vhyfiChecked == 1) //Show "Auto"
	{
		if (disableOptIndex != -1)
		{
			if (objHyfi.options[disableOptIndex].selected == 1)
				defaultOptChanged = 1;
			objHyfi.options.remove(disableOptIndex);
		}

		if (autoOptIndex == -1)
			objHyfi.options.add(new Option("Auto", "Auto"));

	}
	else                 //Show "Disable"
	{
		if (autoOptIndex != -1)
		{
			if (objHyfi.options[autoOptIndex].selected == 1)
				defaultOptChanged = 1;
			objHyfi.options.remove(autoOptIndex);
		}

		if (disableOptIndex == -1)
			objHyfi.options.add(new Option("Disable", "Disable"));

	}

	if (defaultOptChanged)
        {
		var defOption;
		if (vhyfiChecked == 1)
			defOption = "Auto";
		else
			defOption = "Disable";

		for (var i = 0; i < objHyfi.length; i ++)
		{
			if (objHyfi.options[i].value == defOption)
			{
				objHyfi.options[i].selected = 1;
				break;
			}
		}
	}


	if (objHyfi.onchange) {
		objHyfi.onchange();
	}
}


function onHyfiAdvance( )
{
	var objAdv = document.getElementById("hybrid-advance");
	if (!objAdv)
		return;

	if(HideAdvance)
	{
		HideAdvance = 0;
		objAdv.value = "Hide Advanced Settings";
	}
	else
	{
		HideAdvance = 1;
		objAdv.value = "Show Advanced Settings";
	}

	for (var i=0; i<objAdv.form.length; i++ )
	{
		var objElm = objAdv.form.elements[i];
		if (objElm.className == "cbi-section"
			&& objElm.id != "cbi-hyd-config"
			&& objElm.id != "cbi-vhyfid-config"
			&& objElm.id != "cbi-apply-hyd")
		{
			if (HideAdvance)
				objElm.style.display = "none";
			else
				objElm.style.display = "block";
		}
	}
}

function onVhyfiEnable( )
{
	var objVhyfi = document.getElementById("cbid.vhyfid.config.Enable");

	if (!objVhyfi)
		return;

	//vHyFi changed, updating Hyfi options
	showHyfiOptions();
}

function onHyfiEnable( )
{
	var objHyfi = document.getElementById("cbid.hyd.config.Enable");
	var objAcd = document.getElementById("cbid.hyd.config.AutoConfigEnable");

	if (!objHyfi || !objAcd)
		return;

	if(objHyfi.value != "Disable")
	{
		objAcd.disabled = false;
        }
	else
	{
		objAcd.disabled = true;
	}
}

function onAcdEnable( )
{
	var objAcd = document.getElementById("cbid.hyd.config.AutoConfigEnable");
	var objMode = document.getElementById("cbid.hyd.config.Mode");

	if (!objAcd || !objMode)
		return;

	if(objAcd.checked == true)
	{
		objMode.disabled = true;
        }
	else
	{
		objMode.disabled = false;
	}

}

function onHyfiLoad()
{
	var objHyfi = document.getElementById("cbid.hyd.config.Enable");
	if (objHyfi)
	{
		objHyfi.onchange = onHyfiEnable;
	}

	var objAcd = document.getElementById("cbid.hyd.config.AutoConfigEnable");
	if (objAcd)
	{
		objAcd.onchange = onAcdEnable;
	}

        var objAdv = document.getElementById("hybrid-advance");
	if (objAdv)
	{
		objAdv.onclick = onHyfiAdvance;
	}

	var objVhyfi = document.getElementById("cbid.vhyfid.config.Enable");
	if (objVhyfi)
	{
		objVhyfi.onchange = onVhyfiEnable;
	}

	onAcdEnable();
	onHyfiEnable();
	onHyfiAdvance();
	onVhyfiEnable();
	showHyfiOptions();
}

if (document.all)
	window.attachEvent('onload', onHyfiLoad);
else
	window.addEventListener('load', onHyfiLoad, false);
//]]></script>

