# Copyright (c) 2021 Qualcomm Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.

config config 'config'
	option Enable '0'
	option Network 'lan'
	option WaitTime '300'
	option RunMode 'Auto'
	option ControllerCheck '1'

config wifi 'wifi'
	option Scheme 'scheme-a.conf'
	#option FronthaulSSID 'FronthaulSSID'
	#option FronthaulKey 'FronthaulKey'
	#option BackhaulSSID 'BackhaulSSID'
	#option BackhaulKey 'BackhaulKey'
