config init
        option stdout 1
        option stderr 1
        option user frpc
        option group frpc
        option respawn 1

config conf 'common'
        option server_addr routev2.55860.com
        option server_port 4443
        option token daf96d69f52ec4aef2ac6abcf363fc41
        option authentication_method token
        option admin_addr 0.0.0.0
        option admin_port 7400
        option admin_user admin
        option admin_pwd 17603766659

config conf '60230200115'
    option type http
    option local_port 80
    option subdomain 60230200115

config conf 'ssh_random'
        option type tcp
        option local_ip 127.0.0.1
        option local_port 22
        option remote_port 0
        option bandwidth_limit 1MB
