config wsplcd config
	option HyFiSecurity '0'
	option 'ForceWextMode' '0'
	# RunMode REGISTRAR, ENROLLEE, NONE or AUTO
	option RunMode 'AUTO'
	option DesignatedPBAP '0'
	# WPSMethod WPS_M2 or WPS_M8
	option WPSMethod 'WPS_M2'
	option ConfigSta '1'
	option SearchTimeout '60'
	option WPSSessionTimeout '120'
	option WPSRetransmitTimeout '5'
	option WPSPerMessageTimeout '15'
	option PushButtonTimeout '120'
	option PBSearchTimeout '10'
	option SSIDSuffix ''
	option NetworkKey1905 ''
	option UCPKSalt ''
	# WPAPassphraseType LONG or SHORT
	option WPAPassphraseType 'LONG'
	# DebugLevel DUMP,DEBUG,INFO,ERROR
	option DebugLevel 'ERROR'
	option BandSel '0'
	option BandChoice '5G'
	option RMCollectTimeout '10'
	option DeepClone '1'
	option DeepClone_SON '1'
	option DeepCloneNoBSSID '0'
	option ManageVAPInd '1'
	option Prefered5GLChannel '40'
	option Prefered5GHChannel '149'
	option Prefered6GChannel '33'
	option EnableNBTLV '0'
	option NBTLVbuff '0'
	option ResponseRcvd '0'

	# Following are configuration for 1.0 AP Cloning
	option APCloning '0'
	# ButtonMode ONEBUTTON or TWOBUTTON
	option ButtonMode 'TWOBUTTON'
	option CloneTimeout '180'
	option WalkTimeout '120'
	option RepeatTimeout '1'
	option InternalTimeout '15'

	option WaitOtherBandsSecs '20'
	option WaitFirstBandSecs  '30'
	# Write debug log to file: NONE, APPEND, TRUNCATE
	option WriteDebugLogToFile 'NONE'

	# Config push restart and apply timeouts in secs
	# Applicable to Registrar
	option ConfigRestartShortTimeout '5'
	# Applicable to Enrollee only
	option ConfigRestartLongTimeout '15'
	option ConfigApplyTimeout '30'

	# Basic radio capability default values in hex
	# These bytes will be used if radio has zero BSS
	# Byte 1 : Maximum BSS support (0x02)
	# Byte 2 : Operating class count (0x07)
	# Byte 3 : Operating class (0x73)
	# Byte 4 : Maximum transmit power (0xe2)
	# Byte 5 : Number of non-operable channels (0x00)
	# Refer AP Radio Basic Capabilities TLV format
	option 5GBasic '02 07 73 e2 00 74 e2 00 75 e2 00 76 e2 00 77 e2 00 78 e2 00 80 e2 04 6a 7a 8a 9b'
	option 2GBasic '02 03 51 e2 02 0c 0d 53 e2 00 54 e2 02 0c 0d'
