[Unit]
Description=Load and pin the MPTCP bpf_dscp BPF scheduler
Documentation=man:bpftool-struct_ops(8)
DefaultDependencies=no
After=local-fs.target sys-fs-bpf.mount
Before=network-pre.target
Wants=network-pre.target
ConditionPathExists=/usr/share/bpf/scheduler/mptcp_bpf_dscp.o

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/mptcp-bpf-dscp/load-scheduler.sh start
ExecStop=/usr/lib/mptcp-bpf-dscp/load-scheduler.sh stop

[Install]
WantedBy=multi-user.target
