config default 'config'
	option AutoConfigEnable '0'
	option HCSecsBetweenDHCPRequestPackets '2'
	option HRSecsBetweenDHCPRequestPackets '3'
	option HRSecsBetweenStateContinuityCheck '15'
	option HRMaxTriesWaitingForDHCPResponse '3'
	option HCMaxTxTriesBeforeGettingIPAddr '10'
	option SecsBetweenChecksForCableConnection '5'
	option AcdDebugLevel '1'
	option DisableHCMode '1'
	option DisableWDSSTAInHREMode '0'

