config config 'config'
	option Enable                           '0'
	option ForceWextMode                    '0'
	list   MatchingSSID                     ''
	option PHYBasedPrioritization           '0'
	option BlacklistOtherESS                '0'
	option InactDetectionFromTx             '0'
	option WlanSteerMulticast               '0'
	option ClientClassificationEnable       '0'
	option EnableAckRSSI                    '0'
	option LogModCounter                    '10'
	option EnableMulti11kRequest            '0'

config IdleSteer 'IdleSteer'
	option RSSISteeringPoint_DG             '5'
	option RSSISteeringPoint_UG             '20'
	option NormalInactTimeout               '10'
	option OverloadInactTimeout             '10'
	option InactCheckInterval               '1'
	option AuthAllow                        '0'

config ActiveSteer 'ActiveSteer'
	option TxRateXingThreshold_UG           '50000'
	option RateRSSIXingThreshold_UG         '30'
	option TxRateXingThreshold_DG           '6000'
	option RateRSSIXingThreshold_DG         '0'

config Offload 'Offload'
	option MUAvgPeriod                      '60'
	option MUOverloadThreshold_W2           '70'
	option MUOverloadThreshold_W5           '70'
	option MUOverloadThreshold_W6           '70'
	option MUSafetyThreshold_W2             '50'
	option MUSafetyThreshold_W5             '60'
	option MUSafetyThreshold_W6             '60'
	option OffloadingMinRSSI                '20'

config IAS 'IAS'
	option Enable_W2                        '0'
	option Enable_W5                        '0'
	option Enable_W6                        '0'
	option MaxPollutionTime                 '1200'
	option UseBestEffort                    '0'

config StaDB 'StaDB'
	option IncludeOutOfNetwork              '1'
	option TrackRemoteAssoc                 '1'
	option MarkAdvClientAsDualBand          '0'

config SteerExec 'SteerExec'
	option SteeringProhibitTime             '300'
	option BTMSteeringProhibitShortTime     '30'

config APSteer 'APSteer'
	option DisableSteeringInactiveLegacyClients '1'
	option DisableSteeringActiveLegacyClients   '1'
	option DisableSteering11kUnfriendlyClients  '1'
	option LowRSSIAPSteerThreshold_SIG          '17'
	option LowRSSIAPSteerThreshold_CAP          '20'
	option LowRSSIAPSteerThreshold_RE           '45'
	option APSteerToRootMinRSSIIncThreshold     '5'
	option APSteerToLeafMinRSSIIncThreshold     '10'
	option APSteerToPeerMinRSSIIncThreshold     '10'
	option DownlinkRSSIThreshold_W5             '-65'
	option DownlinkRSSIThreshold_W6             '-65'
	option APSteerMaxRetryCount                 '2'

config config 'config_Adv'
	option AgeLimit                         '5'
	option BackhaulAgeLimit                 '60'
	option LegacyClientAgeLimit             '20'

config StaDB 'StaDB_Adv'
	option AgingSizeThreshold               '100'
	option AgingFrequency                   '60'
	option OutOfNetworkMaxAge               '300'
	option InNetworkMaxAge                  '2592000'
	option NumNonServingBSSes               '4'
	option PopulateNonServingPHYInfo        '1'
	option LegacyUpgradeAllowedCnt          '0'
	option LegacyUpgradeMonitorDur          '2100'
	option MinAssocAgeForStatsAssocUpdate   '150'

config StaMonitor 'StaMonitor_Adv'
	option RSSIMeasureSamples_W2            '5'
	option RSSIMeasureSamples_W5            '5'
	option RSSIMeasureSamples_W6            '5'

config BandMonitor 'BandMonitor_Adv'
	option ProbeCountThreshold              '1'
	option MUCheckInterval_W2               '10'
	option MUCheckInterval_W5               '10'
	option MUCheckInterval_W6               '10'
	option MUReportPeriod                   '30'
	option LoadBalancingAllowedMaxPeriod    '15'
	option NumRemoteChannels                '3'

config Estimator_Adv 'Estimator_Adv'
	option RSSIDiff_EstW5FromW2             '-15'
	option RSSIDiff_EstW2FromW5             '5'
	option RSSIDiff_EstW6FromW2             '-15'
	option RSSIDiff_EstW2FromW6             '5'
	option RSSIDiff_EstW6FromW5             '-15'
	option RSSIDiff_EstW5FromW6             '5'
	option ProbeCountThreshold              '3'
	option StatsSampleInterval              '1'
	option BackhaulStationStatsSampleInterval '10'
	option Max11kUnfriendly                 '10'
	option 11kProhibitTimeShort             '30'
	option 11kProhibitTimeLong              '300'
	option PhyRateScalingForAirtime         '50'
	option EnableContinuousThroughput       '0'
	option BcnrptActiveDuration             '50'
	option BcnrptPassiveDuration            '200'
	option FastPollutionDetectBufSize       '10'
	option NormalPollutionDetectBufSize     '10'
	option PollutionDetectThreshold         '60'
	option PollutionClearThreshold          '40'
	option InterferenceAgeLimit             '15'
	option IASLowRSSIThreshold              '12'
	option IASMaxRateFactor                 '88'
	option IASMinDeltaBytes                 '2000'
	option IASMinDeltaPackets               '10'
	option ActDetectMinInterval             '30'
	option ActDetectMinPktPerSec            '2'
	option BackhaulActDetectMinPktPerSec    '40'
	option LowPhyRateThreshold              '20'
	option HighPhyRateThreshold_W2          '200'
	option HighPhyRateThreshold_W5          '750'
	option HighPhyRateThreshold_W6          '750'
	option PhyRateScalingFactorLow          '60'
	option PhyRateScalingFactorMedium       '85'
	option PhyRateScalingFactorHigh         '60'
	option PhyRateScalingFactorTCP          '90'
	option Delayed11kRequesttimer           '1'
        option Rcpi11kCompliantDetectionThreshold    '146'
        option Rcpi11kNonCompliantDetectionThreshold '160'
        option EnableRcpiTypeClassification     '1'

config SteerExec 'SteerExec_Adv'
	option TSteering                        '15'
	option InitialAuthRejCoalesceTime       '2'
	option AuthRejMax                       '3'
	option SteeringUnfriendlyTime           '600'
	option MaxSteeringUnfriendly            '604800'
	option TargetLowRSSIThreshold_W2        '5'
	option TargetLowRSSIThreshold_W5        '15'
	option TargetLowRSSIThreshold_W6        '15'
	option BlacklistTime                    '900'
	option BTMResponseTime                  '10'
	option BTMAssociationTime               '6'
	option BTMAlsoBlacklist                 '1'
	option BTMUnfriendlyTime                '600'
	option MaxBTMUnfriendly                 '86400'
	option MaxBTMActiveUnfriendly           '604800'
	option MinRSSIBestEffort                '12'
	option LowRSSIXingThreshold             '10'
	option StartInBTMActiveState            '0'
	option Delay24GProbeRSSIThreshold       '35'
	option Delay24GProbeTimeWindow          '0'
	option Delay24GProbeMinReqCount         '0'
	option LegacyUpgradeUnfriendlyTime      '21600'

config SteerAlg_Adv 'SteerAlg_Adv'
	option MinTxRateIncreaseThreshold       '53'
	option MaxSteeringTargetCount           '1'
	option ApplyEstimatedAirTimeOnSteering  '1'
	option UsePathCapacityToSelectBSS       '1'

config DiagLog 'DiagLog'
	option EnableLog                        '0'
	option LogServerIP                      '192.168.1.10'
	option LogServerPort                    '7788'
	option LogLevelWlanIF                   '2'
	option LogLevelBandMon                  '2'
	option LogLevelStaDB                    '2'
	option LogLevelSteerExec                '2'
	option LogLevelStaMon                   '2'
	option LogLevelEstimator                '2'
	option LogLevelDiagLog                  '2'
	option LogLevelMultiAP                  '2'

config Persist 'Persist'
	option PersistPeriod                    '3600'

config Debug 'Debug'
	option EnableMemDebug                   '0'
