#content-desktop {display: block;}
#content-mobile {display: none;}

@media screen and (max-width: 600px) {

#content-desktop {display: none;}
#content-mobile {display: block;}

}

header h3 a, header .brand {
	float: left;
	display: block;
	padding: 12px 6px 12px 6px;
	margin: 0 0 0 10px;
	font-size: 22px;
	font-weight: 240;
}

header div > ul, .nav {
	display: block;
	float: left;
	margin: 7px 8px 0 8px;
	position: relative;
	left: 0;
}

header div > ul a, .nav a {
	display: block;
	float: left;
	padding: 12px 6px 12px 6px;
	line-height: 14px;
	letter-spacing: 0.2px;
}

.menu-dropdown, .dropdown-menu {
	top: 38px;
	min-width: 180px;
	max-width: 260px;
}

@media screen and (max-device-width: 660px) {
	#maincontent.container {
		width: 98%;
		margin: 30px 0 0 6px;
	}
}

@media screen and (max-device-width: 360px) {
	#maincontent.container {
		width: 96%;
		margin: 30px 0 0 6px;
	}
}

@media screen and (max-device-width: 200px) {
	#maincontent.container {
		width: 94%;
		margin: 40px 0 0 2px;
	}
}
