config config 'config'
	option Enable 				'0'
	option ForceWextMode 			'0'
	option SwitchInterface			'auto'
	option SwitchLanVid			'1'
	option Control				'manual'
	option DisableSteering			'0'

config hy 'hy'
	option LoadBalancingSeamless 		'1'
	option ConstrainTCPMedium 		'0'
	option MaxLBReordTimeout 		'1500'
	option HActiveMaxAge			'120000'
	option ForwardingMode			'APS'
	option HMWDSProgramRetryCount	'0'

config Wlan 'Wlan'
	option WlanCheckFreqInterval '10'
	option WlanALDNLNumOverride  '0'
	option WlanALDMulticast '0'

config Vlanid
	option ifname 'eth1'
	option vid '1'

config Vlanid
	option ifname 'eth0'
	option vid '2'

config PathChWlan 'PathChWlan'
	option UpdatedStatsInterval_W2 '1'
	option StatsAgedOutInterval_W2 '30'
	option MaxMediumUtilization_W2 '70'
	option MediumChangeThreshold_W2 '10'
	option LinkChangeThreshold_W2 '10'
	option MaxMediumUtilizationForLC_W2 '70'
	option CPULimitedTCPThroughput_W2 '0'
	option CPULimitedUDPThroughput_W2 '0'
	option PHYRateThresholdForMU_W2 '2000'
	option ProbePacketInterval_W2 '1'
	option ProbePacketSize_W2 '64'
	option EnableProbe_W2 '1'
	option AssocDetectionDelay_W2 '5'
	option UpdatedStatsInterval_W5 '1'
	option StatsAgedOutInterval_W5 '30'
	option MaxMediumUtilization_W5 '70'
	option MediumChangeThreshold_W5 '10'
	option LinkChangeThreshold_W5 '10'
	option MaxMediumUtilizationForLC_W5 '70'
	option CPULimitedTCPThroughput_W5 '0'
	option CPULimitedUDPThroughput_W5 '0'
	option PHYRateThresholdForMU_W5 '2000'
	option ProbePacketInterval_W5 '1'
	option ProbePacketSize_W5 '64'
	option EnableProbe_W5 '1'
	option AssocDetectionDelay_W5 '5'
	option UpdatedStatsInterval_W6 '1'
	option StatsAgedOutInterval_W6 '30'
	option MaxMediumUtilization_W6 '70'
	option MediumChangeThreshold_W6 '10'
	option LinkChangeThreshold_W6 '10'
	option MaxMediumUtilizationForLC_W6 '70'
	option CPULimitedTCPThroughput_W6 '0'
	option CPULimitedUDPThroughput_W6 '0'
	option PHYRateThresholdForMU_W6 '2000'
	option ProbePacketInterval_W6 '1'
	option ProbePacketSize_W6 '64'
	option EnableProbe_W6 '1'
	option AssocDetectionDelay_W6 '5'
	option UseWHCAlgorithm '1'
	option NumUpdatesUntilStatsValid '3'

config PathChPlc 'PathChPlc'
	option MaxMediumUtilization '80'
	option MediumChangeThreshold '10'
	option LinkChangeThreshold '10'
	option StatsAgedOutInterval '60'
	option UpdateStatsInterval '1'
	option EntryExpirationInterval '120'
	option MaxMediumUtilizationForLC '80'
	option LCThresholdForUnreachable '5'
	option LCThresholdForReachable '10'
	option HostPLCInterfaceSpeed '0'

config Topology 'Topology'
	option ND_UPDATE_INTERVAL '15'
	option BD_UPDATE_INTERVAL '3'
	option HOLDING_TIME '190'
	option TIMER_LOW_BOUND '7'
	option TIMER_UPPER_BOUND '11'
	option MSGID_DELTA '64'
	option HA_AGING_INTERVAL '120'
	option ENABLE_TD3 '1'
	option ENABLE_BD_SPOOFING '1'
	option NOTIFICATION_THROTTLING_WINDOW '1'
	option PERIODIC_QUERY_INTERVAL '60'
	option ENABLE_NOTIFICATION_UNICAST '1'

config HSPECEst 'HSPECEst'
	option UpdateHSPECInterval '1'
	option NotificationThresholdLimit '10'
	option NotificationThresholdPercentage '20'
	option AlphaNumerator '3'
	option AlphaDenominator '8'
	option LocalFlowRateThreshold '2000000'
	option LocalFlowRatioThreshold '5'
	option MaxHActiveEntries '8192'

config PathSelect 'PathSelect'
	option UpdateHDInterval '10'
	option LinkCapacityThreshold '20'
	option UDPInterfaceOrder 'EP652'
	option NonUDPInterfaceOrder 'EP652'
	option SerialflowIterations '10'
	option DeltaLCThreshold '10'
	option EnableBadLinkStatsSwitchFlow '1'

config LogSettings 'LogSettings'
	option EnableLog '0'
	option LogRestartIntervalSec '10'
	option LogPCSummaryPeriodSec '0'
	option LogServerIP '192.168.1.10'
	option LogServerPort '5555'
	option EnableLogPCW2 '1'
	option EnableLogPCW5 '1'
	option EnableLogPCW6 '1'
	option EnableLogPCP '1'
	option EnableLogTD '1'
	option EnableLogHE '1'
	option EnableLogHETables '1'
	option EnableLogPS '1'
	option EnableLogPSTables '1'
	option LogHEThreshold1 '200000'
	option LogHEThreshold2 '10000000'

config IEEE1905Settings 'IEEE1905Settings'
	option StrictIEEE1905Mode '0'
	option GenerateLLDP '1'
	option AvoidDupRenew '0'
	option AvoidDupTopologyNotification '0'
	option MapVersionEnabled '0'

config HCPSettings 'HCPSettings'
	option V1Compat '1'

config MultiAP 'MultiAP'
	option EnableController '0'
	option EnableAgent '0'
	option EnableSigmaDUT '0'
	option MapVersion '1'
	option EnableIEEE1905Assist '0'
	option ClientAssocCtrlTimeoutSec '0'
	option ClientAssocCtrlTimeoutUsec '200000'
	option ShortBlacklistTimeSec '2'
	option AlwaysClearBlacklists '1'
	option ClientSteerTimeoutSec '1'
	option ClientSteerTimeoutUsec '0'
	option MetricsReportingInterval '5'
	option RSSIHysteresis_W2 '5'
	option RSSIHysteresis_W5 '5'
	option RSSIHysteresis_W6 '5'
	option LoadBalancingInterval '30'
	option EnableChannelSelection '0'
	option MinPreferredChannelIndex '36'
	option MaxPreferredChannelIndex '99'
	option EnableTopologyOpt '0'
	option TopologyOptCron '0 3 * * *'
	option TopologyOptNewAgentDelay '300'
	option TopologyOptDelAgentDelay '180'
	option TopologyOptCollectionTime '3'
	option TopologyOptActivityMonitoringSecs '45'
	option TopologyOptMinIncreasePercentage '20'
	option TopologyOptAllowActiveSteer '0'
	option TopologyOptMaxIdleWaitSecs '1800'
	option TopologyOptSettlingTime '120'
	option BackhaulSteeringRspSendTimeout '10'
	option UnassocMetricsRspWaitTimeSec '8'
	option UnassocMetricsRspMsgTimeout '5'
	option CBSDwellSplitMSec '50'
	option CBSDelaySec '300'
	option CBSStateResetSec '300'
	option BkScanIntervalMin '0'
	option EnableCronBasedBkScan '0'
	option BkScanCron '0 * * * *'
	option UseCBSRankForHomeChan '0'
	option EnableChanPrefQuery '0'
	option ChanPrefQueryCron '0 2 * * *'
	option ChannelSelectionDelaySec '0'
	option ChannelSelectionOnGlobalPref '0'
	option ChanSupervisionMinDelaySec '4'
	option ChanSupervisionMaxDelaySec '32'
	option ChanSupervisionMaxAttempts '8'
	option ChanSupervisionIntervalSec '450'
	option ChanSupervisionTolerate40MHzCoexRulesOn24GHz '1'
	option ControllerChanSelection160MHz '0'
	option AgentChanSelection160MHz '0'
	option ControllerChanSelection40MHzOn2G '0'
	option AgentChanSelection40MHzOn2G '0'
	option ChanSelectionMinIncPercent '30'
	option AgentChanMismatchCheckInterval '60'
	option UnassocRSSIAgeLimitSec '15'
	option UnassocPeriodicQueryTimeSec '8'
	option UnassocActiveClientTimeoutSec '300'
	option UnassocMetricsDriverPollingTime '1'
	option EnableBootOnlyScan '0'
	option ChanScanIntervalMin '60'
	option MapR1R2MixNotSupported '1'
	option MapPFCompliant '0'
	option NumberOfVLANSupported '0'
	option Map2TrafficSepEnabled '0'
	option Map8021QPCP '0'
	option FronthaulSSIDPrimary ''
	option VlanIDNwPrimary '0'
	option FronthaulSSIDNwOne ''
	option VlanIDNwOne '0'
	option FronthaulSSIDNwTwo ''
	option VlanIDNwTwo '0'
	option FronthaulSSIDNwThree ''
	option VlanIDNwThree '0'
	option VlanNetworkPrimary ''
	option CombinedR1R2Backhaul '1'
	option EnableChannelScanRequest '1'
	option EnableRptIndependentScan '1'
	option UseCACResultForChanSelection '0'
	option fallback_freq_5GH '5745'
	option fallback_freq_5GL '5180'
	option EnableZeroBss '0'
	option BasicCap2G '02 03 51 e2 02 0c 0d 53 e2 00 54 e2 02 0c 0d'
	option BasicCap5G '02 07 73 e2 00 74 e2 00 75 e2 00 76 e2 00 77 e2 00 78 e2 00 80 e2 04 6a 7a 8a 9b'
	option EnableQCapability '0'
	option Enable1905Security '0'

config MultiAPSPSettings 'MAPSPSettings'
	option EnableSP '0'
	option EnableEnhancedSP '0'
	option MaxSPRules '0'
	option EnableQSP '0'
	option SPRulesConfPath '/etc/hyd/map/sp-rules.conf'

config MultiAPInventorySettings 'MAPInventorySettings'
	option SerialNumber '8074'
	option ExecutionEnvironment 'Linux'
	option ChipsetVendor "QTI"
	option SoftwareVersion "11.x"

config SteerMsg 'SteerMsg'
	option AvgUtilReqTimeout '1'
	option LoadBalancingCompleteTimeout '90'
	option RspTimeout '2'

config Monitor 'Monitor'
	option MonitorTimer '60'
	option MonitorResponseTimeout '5'

config Debug 'Debug'
	option EnableMemDebug '0'

config mc 'mc'
	option AlwaysFloodUpdate '0'

config MultiAPConfigSettings 'MAPConfigSettings'
	option EnableConfigService '0'
	option MapConfigDumpToFile '0'
	option RoleController '0'
	option RoleAgent '0'
	option DebugLevel '0'
	option MapEProfile 'generic'
	option MapMaxBss '4'
	option bridge1 ''
	option bridge2 ''
	option bridge3 ''
	option backhaul ''
	option MapOnboardingType ''
	option DPPConfiguratorKey ''
	option DPPMyBootstrap ''
