<%+header%>
<%
luci.sys.call("/etc/init.d/openmptcprouter-vps backup_list >/dev/null 2>/dev/null")
local ucic  = luci.model.uci.cursor()
menuentry = ucic:get("openmptcprouter","settings","menu") or "openmptcprouter"
%>
<% if stderr and #stderr > 0 then %><pre class="error"><%=pcdata(stderr)%></pre><% end %>
<form class="inline" method="post" action="<%=url('admin/system/' .. menuentry:lower() .. '/backupgr')%>">
    <div class="cbi-map">
	<h2 name="content"><%:Backup on server%></h2>
	<fieldset class="cbi-section" id="networks">
		<input type="hidden" name="token" value="<%=token%>" />
		<%
		    uci:foreach("openmptcprouter","server", function(s)
			servername = s[".name"]
		%>
		<h3><%=servername%></h3>
		<%
		    if luci.model.uci.cursor():get("openmptcprouter",servername,"allbackup") ~= nil then
		%>
			<div class="cbi-section-node">
			    <div class="cbi-value">
				<label class="cbi-value-title"><%:Backup availables on server%></label>
				<div class="cbi-value-field">
				    <select class="cbi-input-select" name="<%=servername%>-backup" size="1">
					<option value=""></option>
		<%
			lastmodif=""
			allbackup=luci.model.uci.cursor():get("openmptcprouter",servername,"allbackup")
			for _, backup in pairs(allbackup) do
			    filemodif=split(backup, '|')
			    if filemodif[2] ~= lastmodif then
				lastmodif=filemodif[2]
				%>
					<option value="<%=filemodif[1]%>"><%=os.date('%c',filemodif[2])%></option>
				<%
			    end
			end
		%>
				    </select>
				</div>
			    </div>
			</div>
		<%
		    elseif luci.model.uci.cursor():get("openmptcprouter",servername,"lastbackup") ~= nil then
		%>
			<div class="cbi-section-node">
				<%:Last available backup on server:%> <%=os.date('%c', luci.model.uci.cursor():get("openmptcprouter",servername,"lastbackup"))%>
			</div>
		<% else %>
			<div class="cbi-section-node">
				<%:No available backup on server.%>
			</div>
		<% end %>
	    <%
		end)
	    %>
		<br/>
		<input type="submit" class="cbi-button cbi-button-action important" name="restore" value="<%:Restore backup%>"/>
		<input type="submit" class="cbi-button cbi-button-action important" name="save" value="<%:Send backup%>"/>

	</fieldset>
    </div>
</form>
<%+footer%>
