<%+header%>

<%
	local uci = require("luci.model.uci").cursor()
	local net = require "luci.model.network".init()
	local fs = require "nixio.fs"
	local ifaces = net:get_interfaces()
	local servers_ip = {}
	local server_ip = uci:get("shadowsocks-libev","sss0","server")
	if server_ip == '127.0.0.1' then
		local upstreams = uci:get("nginx-ha","ShadowSocks","upstreams")
		for _, up in pairs(upstreams) do
			local a = up:match("^([^:]+):")
			table.insert(servers_ip,a)
		end
	else
		table.insert(servers_ip,server_ip)
	end
%>
<script type="text/javascript" src="<%=resource%>/cbi.js" data-strings="{&#34;path&#34;:{&#34;resource&#34;:&#34;\/luci-static\/resources&#34;,&#34;browser&#34;:&#34;\/cgi-bin\/luci\/admin\/filebrowser&#34;}}"></script>

<% if stderr and #stderr > 0 then %><pre class="error"><%=pcdata(stderr)%></pre><% end %>
<form class="inline" method="post" action="<%=url('admin/system/openmptcprouter/wizard_add')%>" enctype="multipart/form-data">
    <div class="cbi-map">
	<h2 name="content"><%:Wizard%></h2>
	<fieldset class="cbi-section" id="server">
	<legend><%:Server settings%></legend>
	    <div class="cbi-section-descr"><%:Put the values given by OpenMPTCProuter VPS script.%></div>
	    <div class="cbi-value cbi-value-last" id="server_ip" data-depends="[]" data-index="0">
	        <label class="cbi-value-title" for="server_ip"><%:Server IP%></label>
	        <div class="cbi-value-field">
		    <%
			local has_nginxha = fs.access("/etc/config/nginx-ha")
			if has_nginxha then
		    %>
		    <div data-prefix="server_ip" data-browser-path="" data-dynlist="[[],[],null,false]" data-placeholder="123.123.123.123">
		    <%
			end
			local k = 0
			for _,server in ipairs(servers_ip) do
			    k = k+1
		    %>
		    <input name="server_ip" id="server_ip.<%=k%>" placeholder="Server IP" class="cbi-input-text" value="<%=server%>" data-type="ip4addr">
		    <br />
		    <%
			end
		    %>
		</div>
		<div class="cbi-value-description">
		    <%:Server IP will be set for ShadowSocks, Glorytun, OpenVPN and MLVPN%>
		</div>
	    </div>
	    <br />
	    <div class="cbi-value">
		<label class="cbi-value-title"><%:ShadowSocks key%></label>
		<div class="cbi-value-field">
		    <input type="text" name="shadowsocks_key" placeholder="ShadowSocks key" class="cbi-input-text" value="<%=uci:get("shadowsocks-libev","sss0","key")%>" data-type="base64">
		    <br />
		    <div class="cbi-value-description">
		        <%:ShadowSocks is used for TCP%>
		    </div>
		</div>
	    </div>
	    <% if nixio.fs.access("/usr/sbin/glorytun") or nixio.fs.access("/usr/sbin/glorytun-udp") then %>
	    <div class="cbi-value">
		<label class="cbi-value-title"><%:Glorytun key%></label>
		<div class="cbi-value-field">
		    <input type="text" name="glorytun_key" placeholder="Glorytun key" class="cbi-input-text" value="<%=uci:get("glorytun","vpn","key")%>">
		    <br />
		    <div class="cbi-value-description">
		        <%:Glorytun TCP is used by default for UDP and ICMP%>
		    </div>
		</div>
	    </div>
	    <% end %>
	    <% if nixio.fs.access("/usr/sbin/mlvpn") then %>
	    <div class="cbi-value">
		<label class="cbi-value-title"><%:MLVPN password%></label>
		<div class="cbi-value-field">
		    <input type="text" name="mlvpn_password" placeholder="MLVPN password" class="cbi-input-text" value="<%=uci:get("mlvpn","general","password")%>">
		    <br />
		    <div class="cbi-value-description">
		        <%:MLVPN can replace Glorytun with connections with same latency%>
		    </div>
		</div>
	    </div>
	    <% end %>
	    <% if nixio.fs.access("/usr/sbin/openvpn") then %>
	    <div class="cbi-value">
		<label class="cbi-value-title"><%:OpenVPN key%></label>
		<div class="cbi-value-field">
		    <input type="file" name="openvpn_key" class="cbi-input-file">
		    <input type="text" class="cbi-input-text" data-update="change" value="<%=uci:get("openvpn","omr","secret")%>" />
		    <br />
		    <div class="cbi-value-description">
		        <%:You need to upload OpenVPN key file generated by OpenMPTCProuter VPS script to use OpenVPN TCP%>
		    </div>
		</div>
	    </div>
	    <% end %>
	    <div class="cbi-value">
		<label class="cbi-value-title"><%:Default VPN%></label>
		<div class="cbi-value-field">
		    <select class="cbi-input-select" name="default_vpn" size="1">
			<% if nixio.fs.access("/usr/sbin/glorytun") then %><option value="glorytun_tcp" <% if uci:get("glorytun","vpn","enable") == "1" and uci:get("glorytun","vpn","proto") == "tcp" then %>selected="selected"<% end %>>Glorytun TCP</option><% end %>
			<% if nixio.fs.access("/usr/sbin/glorytun-udp") then %><option value="glorytun_udp" <% if uci:get("glorytun","vpn","enable") == "1" and uci:get("glorytun","vpn","proto") == "udp" then %>selected="selected"<% end %>>Glorytun UDP</option><% end %>
			<% if nixio.fs.access("/usr/sbin/mlvpn") then %><option value="mlvpn" <% if uci:get("mlvpn","general","enable") == "1" then %>selected="selected"<% end %>>MLVPN</option><% end %>
			<% if nixio.fs.access("/usr/sbin/openvpn") then %><option value="openvpn" <% if uci:get("openvpn","omr","enabled") == "1" then %>selected="selected"<% end %>>OpenVPN</option><% end %>
			<option value="none" <% if uci:get("openmptcprouter","settings","vpn") == "none" then %>selected="selected"<% end %>>None</option>
		    </select>
		    <br />
		    <div class="cbi-value-description">
		        <%:Set the default VPN used for UDP and ICMP when ShadowSocks is enabled, for all traffic if ShadowSocks is disabled.%>
		    </div>
		</div>
	    </div>
	</fieldset>
	<fieldset class="cbi-section" id="interfaces">
	    <legend><%:Interfaces settings%></legend>
	    <div class="cbi-section-descr"><%:You must disable DHCP on your modems and set IP in different networks.%></div>
<% 
    for _, iface in ipairs(ifaces) do
	--if not (iface == "lo" or iface:match("^tun.*")) then
	local ifname = iface:name()
	if (ifname:match("^wan.*")) then
%>
	    <div class="cbi-section-remove right">
		<input type="submit" name="delete.<%=ifname%>" value="<%:Delete%>" class="cbi-button" />
	    </div>
	    <h3><%=ifname%></h3>
	    <fieldset class="cbi-section-node" id="cbi-openmptcprouter-<%=ifname%>">
		<input type="hidden" name="intf.<%=ifname%>" value="<%=ifname%>" />
		<div class="cbi-value">
		    <label class="cbi-value-title"><%:IPv4 address%></label>
		    <div class="cbi-value-field">
			<input type="text" name="cbid.network.<%=ifname%>.ipaddr" class="cbi-input-text" value="<%=uci:get("network",ifname,"ipaddr")%>" data-type="ip4addr">
			<br />
			<div class="cbi-value-description">
			    <%:Set an IP in the same network as the modem%>
			</div>
		    </div>
		</div>
		<div class="cbi-value">
		    <label class="cbi-value-title"><%:IPv4 netmask%></label>
		    <div class="cbi-value-field">
			<input type="text" name="cbid.network.<%=ifname%>.netmask" class="cbi-input-text" value="<%=uci:get("network",ifname,"netmask") or "255.255.255.0"%>" data-type="ip4addr">
		    </div>
		</div>
		<div class="cbi-value">
		    <label class="cbi-value-title"><%:IPv4 gateway%></label>
		    <div class="cbi-value-field">
			<input type="text" name="cbid.network.<%=ifname%>.gateway" class="cbi-input-text" value="<%=uci:get("network",ifname,"gateway")%>" data-type="ip4addr">
			<br />
			<div class="cbi-value-description">
			    <%:Set here IP of the modem%>
			</div>
		    </div>
		</div>
	    </fieldset>
<%
	end
    end
%>

	    <div class="cbi-section-create">
		<input class="cbi-button cbi-button-add" type="submit" name="add_interface" value="<%:Add an interface%>" title="<%:Add an interface%>" />
	    </div>
	</fieldset>
    </div>
    <div class="cbi-page-actions">
	<input type="hidden" name="token" value="<%=token%>" />
	<input class="cbi-button cbi-button-apply" type="submit" value="<%:Save & Apply%>" /> <input class="cbi-button cbi-button-reset" type="button" value="Reset" onclick="location.href='<%=url('admin/system/openmptcprouter/wizard')%>'" />
    </div>
</form>
<script type="text/javascript">cbi_init();</script>
<%+footer%>
