<%+header%>

<%
	local uci = require("luci.model.uci").cursor()
	local net = require "luci.model.network".init()
	local ifaces = net:get_interfaces()
%>

<% if stderr and #stderr > 0 then %><pre class="error"><%=pcdata(stderr)%></pre><% end %>
<form class="inline" method="post" action="<%=url('admin/system/openmptcprouter/wizard_add')%>">
    <div class="cbi-map">
	<h2 name="content"><%:Wizard%></h2>
	<fieldset class="cbi-section" id="server">
	<legend><%:Server settings%></legend>
	    <div class="cbi-section-descr"><%:Put the values given by OpenMPTCProuter VPS script.%></div>
	    <div class="cbi-value">
	        <label class="cbi-value-title"><%:Server IP%></label>
	        <div class="cbi-value-field">
		    <input type="text" name="server_ip" placeholder="Server IP" class="cbi-input-text" value="<%=uci:get("shadowsocks-libev","sss0","server")%>" data-type="ip4addr">
		</div>
	    </div>
	    <div class="cbi-value">
		<label class="cbi-value-title"><%:ShadowSocks key%></label>
		<div class="cbi-value-field">
		    <input type="text" name="shadowsocks_key" placeholder="ShadowSocks key" class="cbi-input-text" value="<%=uci:get("shadowsocks-libev","sss0","key")%>" data-type="base64">
		</div>
	    </div>
	    <div class="cbi-value">
		<label class="cbi-value-title"><%:Glorytun key%></label>
		<div class="cbi-value-field">
		    <input type="text" name="glorytun_key" placeholder="Glorytun key" class="cbi-input-text" value="<%=uci:get("glorytun","vpn","key")%>">
		</div>
	    </div>
	</fieldset>
	<fieldset class="cbi-section" id="interfaces">
	    <legend><%:Interfaces settings%></legend>
	    <div class="cbi-section-descr"><%:You must disable DHCP on your modems and set IP in different networks.%></div>
<% 
    for _, iface in ipairs(ifaces) do
	--if not (iface == "lo" or iface:match("^tun.*")) then
	local ifname = iface:name()
	if (ifname:match("^wan.*")) then
%>
	    <h3><%=ifname%></h3>
	    <input type="hidden" name="intf.<%=ifname%>" value="<%=ifname%>" />
	    <div class="cbi-value">
		<label class="cbi-value-title"><%:IPv4 address%></label>
		<div class="cbi-value-field">
		    <input type="text" name="cbid.network.<%=ifname%>.ipaddr" class="cbi-input-text" value="<%=uci:get("network",ifname,"ipaddr")%>" data-type="ip4addr">
		    <br />
		    <div class="cbi-value-description">
		        <span class="cbi-value-helpicon"><img src="/luci-static/resources/cbi/help.gif" alt="help" /></span>
		        <%:Set an IP in the same network as the modem%>
		    </div>
		</div>
	    </div>
	    <div class="cbi-value">
		<label class="cbi-value-title"><%:IPv4 netmask%></label>
		<div class="cbi-value-field">
		    <input type="text" name="cbid.network.<%=ifname%>.netmask" class="cbi-input-text" value="<%=uci:get("network",ifname,"netmask") or "255.255.255.0"%>" data-type="ip4addr">
		</div>
	    </div>
	    <div class="cbi-value">
		<label class="cbi-value-title"><%:IPv4 gateway%></label>
		<div class="cbi-value-field">
		    <input type="text" name="cbid.network.<%=ifname%>.gateway" class="cbi-input-text" value="<%=uci:get("network",ifname,"gateway")%>" data-type="ip4addr">
		    <br />
		    <div class="cbi-value-description">
		        <span class="cbi-value-helpicon"><img src="/luci-static/resources/cbi/help.gif" alt="help" /></span>
		        <%:Set here IP of the modem%>
		    </div>
		</div>
	    </div>
<%
	end
    end
%>
	</fieldset>
    </div>
    <div class="cbi-page-actions">
	<input type="hidden" name="token" value="<%=token%>" />
	<button class="btn" type="submit">Submit</button>
    </div>
</form>
<%+footer%>
