<%+header%>

<%
	local uci = require("luci.model.uci").cursor()
	local net = require "luci.model.network".init()
	local ifaces = net:get_interfaces()
%>

<% if stderr and #stderr > 0 then %><pre class="error"><%=pcdata(stderr)%></pre><% end %>
<form class="inline" method="post" action="<%=url('admin/system/openmptcprouter/wizard_add')%>">
    <div class="cbi-map">
	<h2 name="content"><%:Wizard%></h2>
	<div id="server" class="server">
	    <h2><%:Server settings%></h2>
	    <div class="cbi-value">
	        <label class="cbi-value-title"><%:Server IP%></label>
	        <div class="cbi-value-field">
		    <input type="text" name="server_ip" placeholder="Server IP" class="cbi-input-text" value="<%=uci:get("shadowsocks-libev","sss0","server")%>" data-type="ip4addr">
		</div>
	    </div>
	    <div class="cbi-value">
		<label class="cbi-value-title"><%:ShadowSocks key%></label>
		<div class="cbi-value-field">
		    <input type="text" name="shadowsocks_key" placeholder="ShadowSocks key" class="cbi-input-text" value="<%=uci:get("shadowsocks-libev","sss0","key")%>" data-type="base64">
		</div>
	    </div>
	    <div class="cbi-value">
		<label class="cbi-value-title"><%:Glorytun key%></label>
		<div class="cbi-value-field">
		    <input type="text" name="glorytun_key" placeholder="Glorytun key" class="cbi-input-text" value="<%=uci:get("glorytun","vpn","key")%>">
		</div>
	    </div>
	</div>
	<div id="interfaces" class="interfaces">
	    <h2><%:Interfaces settings%></h2>
<% 
    for _, iface in ipairs(ifaces) do
	--if not (iface == "lo" or iface:match("^tun.*")) then
	local ifname = iface:name()
	if (ifname:match("^wan.*")) then
%>
	    <h3><%=ifname%></h3>
	    <input type="hidden" name="intf.<%=ifname%>" value="<%=ifname%>" />
	    <div class="cbi-value">
		<label class="cbi-value-title"><%:IPv4 address%></label>
		<div class="cbi-value-field">
		    <input type="text" name="cbid.network.<%=ifname%>.ipaddr" class="cbi-input-text" value="<%=uci:get("network",ifname,"ipaddr")%>" data-type="ip4addr">
		</div>
	    </div>
	    <div class="cbi-value">
		<label class="cbi-value-title"><%:IPv4 netmask%></label>
		<div class="cbi-value-field">
		    <input type="text" name="cbid.network.<%=ifname%>.netmask" class="cbi-input-text" value="<%=uci:get("network",ifname,"netmask")%>" data-type="ip4addr">
		</div>
	    </div>
	    <div class="cbi-value">
		<label class="cbi-value-title"><%:IPv4 gateway%></label>
		<div class="cbi-value-field">
		    <input type="text" name="cbid.network.<%=ifname%>.gateway" class="cbi-input-text" value="<%=uci:get("network",ifname,"gateway")%>" data-type="ip4addr">
		</div>
	    </div>
<%
	end
    end
%>
	</div>
    </div>
    <div class="cbi-page-actions">
	<input type="hidden" name="token" value="<%=token%>" />
	<button class="btn" type="submit">Submit</button>
    </div>
</form>
<%+footer%>
