config ss_redir hi1
	option server 'sss0'
	option local_address '::'
	option local_port '1100'
	option mode 'tcp_and_udp'
	option timeout '1000'
	option fast_open 1
	option verbose 0
	option syslog 1
	option reuse_port 1
	option mptcp 1
	option ipv6_first 1
	option no_delay 1

config ss_redir hi2
	option server 'sss0'
	option local_address '0.0.0.0'
	option local_port '1100'
	option mode 'tcp_and_udp'
	option timeout '1000'
	option fast_open 1
	option verbose 0
	option syslog 1
	option reuse_port 1
	option mptcp 1
	option ipv6_first 1
	option no_delay 1

config ss_rules 'ss_rules'
	option disabled 0
	option redir_tcp 'hi1'
	option src_default 'forward'
	option dst_default 'forward'
	option local_default 'forward'
	option server 'sss0'

config server 'sss0'
	option disabled 1
	option server '192.168.1.3'
	option server_port '65101'
	option key ''
	option method 'chacha20-ietf-poly1305'
	option obfs 0

config ss_tunnel 'dns'
	option disabled 1
	option mode 'tcp_and_udp'
	option server 'sss0'
	option local_port '5353'
	option tunnel_address '8.8.8.8:53'