#Driver interface for athr driver
CONFIG_DRIVER_ATHR=y
CFLAGS += -I$(ATHEROSPATH)
CFLAGS += -I$(ATHEROSPATH)/os/linux/include

# Enable IEEE 802.1X Supplicant (automatically included if any EAP method is
# included)
CONFIG_IEEE8021X_EAPOL=y

# EAP-MD5
CONFIG_EAP_MD5=y

# EAP-MSCHAPv2
CONFIG_EAP_MSCHAPV2=y

# EAP-TLS
CONFIG_EAP_TLS=y

# EAL-PEAP
CONFIG_EAP_PEAP=y

# EAP-TTLS
CONFIG_EAP_TTLS=y

# EAP-FAST
# Note: Default OpenSSL package does not include support for all the
# functionality needed for EAP-FAST. If EAP-FAST is enabled with OpenSSL,
# the OpenSSL library must be patched (openssl-0.9.8d-tls-extensions.patch)
# to add the needed functions.
#CONFIG_EAP_FAST=y

# EAP-GTC
CONFIG_EAP_GTC=y

# EAP-OTP
CONFIG_EAP_OTP=y

# Select control interface backend for external programs, e.g, wpa_cli:
# unix = UNIX domain sockets (default for Linux/*BSD)
# udp = UDP sockets using localhost (127.0.0.1)
# named_pipe = Windows Named Pipe (default for Windows)
# y = use default (backwards compatibility)
# If this option is commented out, control interface is not included in the
# build.
CONFIG_CTRL_IFACE=y

# Select configuration backend:
# file = text file (e.g., wpa_supplicant.conf; note: the configuration file
#       path is given on command line, not here; this option is just used to
#       select the backend that allows configuration files to be used)
# winreg = Windows registry (see win_example.reg for an example)
CONFIG_BACKEND=file

# Select TLS implementation
# openssl = OpenSSL (default)
# gnutls = GnuTLS (needed for TLS/IA, see also CONFIG_GNUTLS_EXTRA)
# internal = Internal TLSv1 implementation (experimental)
# none = Empty template
CONFIG_TLS=internal

# If CONFIG_TLS=internal is used, additional library and include paths are
# needed for LibTomMath. Alternatively, an integrated, minimal version of
# LibTomMath can be used. See beginning of libtommath.c for details on benefits
# and drawbacks of this option.
CONFIG_INTERNAL_LIBTOMMATH=y
CONFIG_INTERNAL_LIBTOMMATH_FAST=y

# Wi-Fi Protected Setup (WPS)
CONFIG_WPS=y
CONFIG_WPS2=y

CONFIG_HS20=y

# P2P
CONFIG_P2P=y
CONFIG_AP=y
ATH_GCM_SUPPORT=y
CONFIG_IEEE80211W=y

CONFIG_DRIVER_NL80211=y
CONFIG_TLS=openssl
CONFIG_PEERKEY=y
CONFIG_PKCS12=y
CONFIG_LIBNL32=y
CONFIG_EAP_LEAP=y

CONFIG_FILS=y
CONFIG_IEEE80211R=y

# Enabled CONFIG_NO_LINUX_PACKET_SOCKET_WAR flag to improve throghput
CONFIG_NO_LINUX_PACKET_SOCKET_WAR=y
