#!/usr/bin/make -f

export DH_VERBOSE = 1

ARCH := $(shell dpkg-architecture -qDEB_BUILD_ARCH)

# Map Debian arch to BPF target arch
ifeq ($(ARCH),amd64)
  BPF_ARCH := x86
else ifeq ($(ARCH),arm64)
  BPF_ARCH := arm64
else ifeq ($(ARCH),armhf)
  BPF_ARCH := arm
else
  BPF_ARCH := $(ARCH)
endif

%:
	dh $@

override_dh_auto_build:
	clang -g -O2 -target bpf \
		-D__TARGET_ARCH_$(BPF_ARCH) \
		-I src \
		-c src/mptcp_bpf_first.c \
		-o mptcp_bpf_first.o
	llvm-strip -g mptcp_bpf_first.o

override_dh_auto_install:
	install -D -m 0644 mptcp_bpf_first.o \
		debian/mptcp-bpf-first/usr/share/bpf/scheduler/mptcp_bpf_first.o

override_dh_auto_test:

override_dh_auto_clean:
	rm -f mptcp_bpf_first.o

override_dh_builddeb:
	dh_builddeb -- -Zxz
