config config repacd
	option Enable                           '0'
	option ForceWextMode                    '0'
	option ManagedNetwork                   'lan'
	option DeviceType                       'RE'
	option Role                             'NonCAP'
	option GatewayConnectedMode             'AP'
	option ConfigREMode                     'auto'
	option DefaultREMode                    'qwrap'
	option BlockDFSChannels                 '0'
	option EnableSteering                   '1'
	option EnableSON                        '1'
	option ManageMCSD                       '1'
	option LinkCheckDelay                   '2'
	option TrafficSeparationEnabled         '0'
	option NetworkGuest                     'guest'
	option NetworkGuestBackhaulInterface    'both'
	option EnableEthernetMonitoring         '0'
	option EnableBest5gBackhaulSelection    '0'
	option GuestMac                         'ath0'
	option Ezmesh                           '0'
	option AdditionalFHCount                '0'

config MAPConfig 'MAPConfig'
	option Enable                           '0'
	option FirstConfigRequired              '1'
	option BSSInstantiationTemplate         'scheme-a.conf'
	option FronthaulSSID                    ''
	option FronthaulKey                     ''
	#comma separated vap credentials, Ex: AdditionalFHVAP="ssid1:Key1:EncType1,ssid2:Key2:EncType2"
	option AdditionalFHVAP                  ''
	option BackhaulSSID                     ''
	option BackhaulKey                      ''
	option BackhaulSuffix                   ''
	option StandaloneController             '0'
	option EnableSmartMonitorMode           '0'
	option EnableLiteMode                   '0'
	option MapDevResetDefault               '0'
	option MapDeviceMode                    ''
	option MapCountry                       'US4'
	option MapVersionEnabled                '1'
	option NumberOfVLANSupported            '0'
	option VlanNetworkPrimary               'lan'
	option VlanNetworkOne                   'lan1'
	option VlanNetworkTwo                   'lan2'
	option VlanNetworkThree                 'lan3'
	option VlanNetworkBackHaul              'backhaul'
	option BridgeProtoNwOne                 'static'
	option BridgeIPAddressNwOne             ''
	option BridgeProtoNwTwo                 'static'
	option BridgeIPAddressNwTwo             ''
	option BridgeProtoNwThree               'static'
	option BridgeIPNwAddressThree           ''
	option MapTrafficSeparationEnable       '0'
	option MapTrafficSeparationActive       '0'
	option EnableMapTSLogs                  '0'
	option FronthaulSSIDNwOne               ''
	option FronthaulKeyNwOne                ''
	option FronthaulSSIDNwTwo               ''
	option FronthaulKeyNwTwo                ''
	option FronthaulSSIDNwThree             ''
	option FronthaulKeyNwThree              ''
	option VlanIDNwPrimary                  '10'
	option VlanIDNwOne                      '20'
	option VlanIDNwTwo                      '30'
	option VlanIDNwThree                    '40'
	option Map8021QPCP                      '0'
	option R1AgentAssocDisAllowed           '0'
	option R2AgentAssocDisAllowed           '0'
	option CombinedR1R2Backhaul             '0'
	option TSUseSameBridgeMAC               '1'
	option dhcpSettingsNwOne                'start=100 limit=150 leasetime=12h'
	option dhcpSettingsNwTwo                'start=100 limit=150 leaseTime=12h'
	option dhcpSettingsNwThree              'start=100 limit=150 leaseTime=12h'
	option MapBackaulType                   ''
	option MapSTARadio                      ''
	option DPPKey                           ''
	option DPPMyBootstrap                   ''
	option OnboardingType                   ''
	option EnableConfigServiceLogs          '0'
	option DPPDumpSecurityLog               '0'
	option ChirpTimeout                     '30'
	option ConnectorResetThreshold          '30'

config GatewayLink 'GatewayLink'
	option ReachableConfirmationAttempts    '5'
	option ReachableConfirmationReplies     '4'
	option UnreachableMaxAttempts           '3'

config WiFiLink 'WiFiLink'
	option EnableSNRBasedPrefer2GBackhaul   '1'
	option MinAssocCheckAutoMode            '5'
	option MinBestUplinkRetry               '5'
	option MinAssocCheckPostWPS             '5'
	option MinAssocCheckPostBSSIDConfig     '5'
	option WPSTimeout                       '180'
	option AssociationTimeout               '300'
	option RSSINumMeasurements              '5'
	option RSSIThresholdFar                 '-75'
	option RSSIThresholdNear                '-60'
	option RSSIThresholdMin                 '-75'
	option RSSIThresholdPrefer2GBackhaul    '-120'
	option SNRThresholdPrefer2GBackhaul     '5'
	option 2GBackhaulSwitchDownTime         '10'
	option MaxMeasuringStateAttempts        '3'
	option DaisyChain                       '1'
	option RateNumMeasurements              '30'
	option RateThresholdMin5GInPercent      '40'
	option RateThresholdMax5GInPercent      '70'
	option RateThresholdPrefer2GBackhaulInPercent '5'
	option 5GBackhaulBadlinkTimeout         '60'
	option BSSIDAssociationTimeout          '90'
	option RateScalingFactor                '70'
	option 5GBackhaulEvalTimeShort          '1800'
	option 5GBackhaulEvalTimeLong           '7200'
	option 2GBackhaulEvalTime               '1800'
	option PreferCAPSNRThreshold5G          '0'
	option MoveFromCAPSNRHysteresis5G       '2'
	option 2GIndependentChannelSelectionEnable '0'
	option 2GIndependentChannelSelectionRssiLevel '-70'
	option 2GIndependentChannelSelectionTotalRssiCounter '10'
	option 2GIndependentChannelSelectionRssiDebug '0'
	option 2GIndependentChannelSelectionStartRssiCheckTime '60'
	option ManageVAPInd                     '0'

config MAPWiFiLink 'MAPWiFiLink'
	option MinAssocCheckPostWPS             '5'
	option WPSTimeout                       '180'
	option AssociationTimeout               '300'
	option BSSIDTimeout                     '90'
	option RSSINumMeasurements              '5'
	option BackhaulRSSIThreshold_2          '-78'
	option BackhaulRSSIThreshold_5          '-78'
	option MaxValidBackhaulRSSI             '-95'
	option BackhaulRSSIThreshold_offset     '10'
	option Max5gAttempts                    '3'
	option MaxMeasuringStateAttempts        '3'
	option ForceBSSesDownOnAllBSTASwitches  '0'

config PLCLink 'PLCLink'
	option PLCBackhaulEvalTime              '1800'

config BackhaulMgr 'BackhaulMgr'
	option SelectOneBackHaulInterfaceInDaisy '0'
	option BackHaulMgrRateNumMeasurements   '10'
	option PLCLinkThresholdto2G             '60'
	option SwitchInterfaceAfterCAPPingTimeouts '10'

config FrontHaulMgr 'FrontHaulMgr'
	option ManageFrontAndBackHaulsIndependently '0'
	option FrontHaulMgrTimeout              '3600'

config LEDState 'Reset'
	option Name_1                           'led_0'
	option Trigger_1                        'none'
	option Brightness_1                     '0'
	option Name_2                           'led_1'
	option Trigger_2                        'none'
	option Brightness_2                     '0'

config LEDState 'NotAssociated'
	option Name_1                           'led_0'
	option Trigger_1                        'timer'
	option Brightness_1                     '1'
	option DelayOn_1                        '500'
	option DelayOff_1                       '500'
	option Name_2                           'led_1'
	option Trigger_2                        'none'
	option Brightness_2                     '0'

config LEDState 'AutoConfigInProgress'
	option Name_1                           'led_0'
	option Trigger_1                        'timer'
	option Brightness_1                     '1'
	option DelayOn_1                        '250'
	option DelayOff_1                       '250'
	option Name_2                           'led_1'
	option Trigger_2                        'none'
	option Brightness_2                     '0'

config LEDState 'Measuring'
	option Name_1                           'led_0'
	option Trigger_1                        'timer'
	option Brightness_1                     '1'
	option DelayOn_1                        '250'
	option DelayOff_1                       '250'
	option Name_2                           'led_1'
	option Trigger_2                        'timer'
	option Brightness_2                     '1'
	option DelayOn_2                        '250'
	option DelayOff_2                       '250'

config LEDState 'WPSTimeout'
	option Name_1                           'led_0'
	option Trigger_1                        'timer'
	option Brightness_1                     '1'
	option DelayOn_1                        '2000'
	option DelayOff_1                       '1000'
	option Name_2                           'led_1'
	option Trigger_2                        'none'
	option Brightness_2                     '0'

config LEDState 'AssocTimeout'
	option Name_1                           'led_0'
	option Trigger_1                        'timer'
	option Brightness_1                     '1'
	option DelayOn_1                        '5000'
	option DelayOff_1                       '1000'
	option Name_2                           'led_1'
	option Trigger_2                        'none'
	option Brightness_2                     '0'

config LEDState 'RE_MoveCloser'
	option Name_1                           'led_0'
	option Trigger_1                        'none'
	option Brightness_1                     '1'
	option Name_2                           'led_1'
	option Trigger_2                        'none'
	option Brightness_2                     '0'

config LEDState 'RE_MoveFarther'
	option Name_1                           'led_0'
	option Trigger_1                        'none'
	option Brightness_1                     '0'
	option Name_2                           'led_1'
	option Trigger_2                        'none'
	option Brightness_2                     '1'

config LEDState 'RE_LocationSuitable'
	option Name_1                           'led_0'
	option Trigger_1                        'none'
	option Brightness_1                     '1'
	option Name_2                           'led_1'
	option Trigger_2                        'none'
	option Brightness_2                     '1'

config LEDState 'InCAPMode'
	option Name_1                           'led_0'
	option Trigger_1                        'none'
	option Brightness_1                     '1'
	option Name_2                           'led_1'
	option Trigger_2                        'none'
	option Brightness_2                     '1'

config LEDState 'CL_LinkSufficient'
	option Name_1                           'led_0'
	option Trigger_1                        'none'
	option Brightness_1                     '1'
	option Name_2                           'led_1'
	option Trigger_2                        'none'
	option Brightness_2                     '0'

config LEDState 'CL_LinkInadequate'
	option Name_1                           'led_0'
	option Trigger_1                        'none'
	option Brightness_1                     '0'
	option Name_2                           'led_1'
	option Trigger_2                        'none'
	option Brightness_2                     '1'

config LEDState 'CL_ActingAsRE'
	option Name_1                           'led_0'
	option Trigger_1                        'none'
	option Brightness_1                     '1'
	option Name_2                           'led_1'
	option Trigger_2                        'none'
	option Brightness_2                     '1'

config LEDState 'RE_BackhaulGood'
	option Name_1                           'led_0'
	option Trigger_1                        'none'
	option Brightness_1                     '1'
	option Name_2                           'led_1'
	option Trigger_2                        'none'
	option Brightness_2                     '1'

config LEDState 'RE_BackhaulFair'
	option Name_1                           'led_0'
	option Trigger_1                        'none'
	option Brightness_1                     '1'
	option Name_2                           'led_1'
	option Trigger_2                        'none'
	option Brightness_2                     '0'

config LEDState 'RE_BackhaulPoor'
	option Name_1                           'led_0'
	option Trigger_1                        'none'
	option Brightness_1                     '0'
	option Name_2                           'led_1'
	option Trigger_2                        'none'
	option Brightness_2                     '1'

config LEDState 'RE_SwitchingBSTA'
	option Name_1                           'led_0'
	option Trigger_1                        'timer'
	option Brightness_1                     '1'
	option DelayOn_1                        '250'
	option DelayOff_1                       '250'
	option Name_2                           'led_1'
	option Trigger_2                        'none'
	option Brightness_2                     '0'
